/*
background:;
border:;
border-radius:;

margin:;
padding:;
width:;

font-family:;
font-size:;
font-weight:; 
 
line-height:;
text-align:;		
text-decoration:;
text-shadow:;

opacity:;
box-shadow:;
 
position:; 
float:;
display:;

 */

body {
	
}

.container-fluid {
	
}

.row {
	
}

#vendor {
	
}

#mailing-list {
	
}

form {

}

h2 {
	
}

.form-group {

}

.form-control {

}

label {

}

input {

}

input[type="text"] {

}

input[type="email"] {

}

input[type="radio"] {

}

input[type="checkbox"] {

}

input[type="number"] {

}


small {

}

fieldset {
	
}

legend {
	
}

span {
	
}

textarea{
	
}

select {
	
}

option {
	
}

.form-check  {

}

.form-check-label {

}

.form-check-input {

}

.btn {

}

.btn-primary  {

}

.col-12 {

}	

.col-sm-12 {

}	

.col-md-12 {

}	

.col-lg-12 {

}

.col-xl-12 {

}



/*
background:;
border:;
border-radius:;

margin:;
padding:;
width:;

font-family:;
font-size:;
font-weight:; 
 
line-height:;
text-align:;		
text-decoration:;
text-shadow:;

opacity:;
box-shadow:;
 
position:; 
float:;
display:;

 */

body {
	
}

.container-fluid {
	
}

.row {
	
}

#newsletter {
	
}

#reservation {
	
}

form {
	background:;
}

h2 {
	
}

.form-group {

}

.form-control {

}

label {

}

input {

}

input[type="text"] {

}

input[type="email"] {

}

input[type="radio"] {

}

input[type="number"] {

}


small {

}

fieldset {
	
}

legend {
	
}

span {
	
}

.form-check  {

}

.form-check-label {

}

.form-check-input {

}

.btn {

}

.btn-primary  {

}

.col-12 {

}	

.col-sm-12 {

}	

.col-md-12 {

}	

.col-lg-12 {

}

.col-xl-12 {

}

































