p{
	font-size:32px;
}


#Palanquin {
	font-family: 'Palanquin', sans-serif;
}

#Assistant {
	font-family: 'Assistant', sans-serif;
}

#Jura {
	font-family: 'Jura', sans-serif;
}

#Yantramanav {
	font-family: 'Yantramanav', sans-serif;
}

#Alegreya {
	font-family: 'Alegreya Sans', sans-serif;
}

#Khula {
	font-family: 'Khula', sans-serif;
}

#Work {
	font-family: 'Work Sans', sans-serif;
}
	
#Raleway {
	font-family: 'Raleway', sans-serif;
}

#Dosis {
	font-family: 'Dosis', sans-serif;
}

#Open {
	font-family: 'Open Sans', sans-serif;
}

#Lato {
	font-family: 'Lato', sans-serif;
}

#Source {
	font-family: 'Source Sans Pro', sans-serif;
}

#Monsieur {
	font-family: 'Monsieur La Doulaise', cursive;
}

#Quintessential {
	font-family: 'Quintessential', cursive;
}

#Stalemate {
	font-family: 'Stalemate', cursive;
}

#Molle {
	font-family: 'Molle', cursive;
}

#Italianno {
	font-family: 'Italianno', cursive;
}

#Vibes {
	font-family: 'Great Vibes', cursive;
}

#Cedarville {
	font-family: 'Cedarville Cursive', cursive;
}

#BungeeHairline {
	font-family: 'Bungee Hairline', cursive;
}

#BungeeInline {
	font-family: 'Bungee Inline', cursive;
}

#Comfortaa {
	font-family: 'Comfortaa', cursive;
}

#Gruppo {
	font-family: 'Gruppo', cursive;
}

#Poiret {
	font-family: 'Poiret One', cursive;
}










